@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  top page
*----------------------------*/

/* common
*----------------------------*/

.main {
    overflow: hidden;
}

.section {
    padding: 50px 0;
}

.section__container {
    width: 100%;
    margin: 0 auto;
    .mod-column-item {
        padding: 24px 16px;
        border-radius: 10px;
    }
    &.section--basic {
        .mod-column-item {
            padding: 24px 24px 26px;
            @include mediaquery-smartphone {
                padding: 12px;
            }
        }
    }
    &.brNot {
        .section__hl,
        .section__inner {
            border-radius: 0;
        }
    }
}

.section__hl {
    padding: 15px 0 12px;
    color: #fff;
    font-size: 34px;
    line-height: 1.4;
    text-align: center;
    border-radius: 10px 10px 0 0;
    background: $color_main;
    @include mediaquery-mobile {
        font-size: 22px;
    }
    span {
        color: $color_accent;
    }
}

.section__inner {
    padding: 30px;
    background: #fff;
    border: 4px solid $color_main;
    border-radius: 0 0 10px 10px;
    .section--basic & {
        padding-bottom: 10px;
    }
    .section--special & {
        padding-bottom: 20px;
    }
    .section--lineup & {
        padding-top: 0;
    }
    @include mediaquery-mobile {
        padding: 10px;
    }
}

.section--prime {
    .section__hl {
        background: $color_main;
    }
    .section__inner {
        border-color: $color_main;
    }
}
.section--basic {
    .section__hl {
        background: #1dbbf2;
    }
    .section__inner {
        border-color: #1dbbf2;
    }
}
.section--special {
    .section__hl {
        background: #20ce34;
    }
    .section__inner {
        border-color: #20ce34;
    }
}
.section--lineup {
    .section__hl {
        background: #ff7bac;
    }
    .section__inner {
        border-color: #ff7bac;
    }
}

.section-column__title {
    position: relative;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.4;
    text-align: center;
    @include mediaquery-mobile {
        font-size: 25px;
    }
    span {
        display: block;
        font-size: 16px;
        @include mediaquery-mobile {
            font-size: 15px;
        }
        br {
            display: none;
            @media only screen and (max-width: 320px) {
                display: block;
            }
        }
    }
    &.no1:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 64px;
        height: 62px;
        background-image: url(../img/top/section_02_img_01.png);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        @include mediaquery-mobile {
            top: -5px;
            width: 38px;
            height: 60px;
            background-image: url(../img/top/section_02_img_01_sp.png);
        }
    }
}

.section-column__price {
    margin-top: 8px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.section-column__list {
    margin-top: 20px;
    li{
        position: relative;
        padding-left: 30px;
        @include mediaquery-mobile {
            padding-left: 22px;
        }
        b {
            display: block;
            font-size: 24px;
            font-weight: 600;
            @include mediaquery-mobile {
                font-size: 18px;
            }
        }
        p {
            margin-top: 2px;
            font-size: 18px;
            @include mediaquery-mobile {
                font-size: 14px;
            }
        }
        span {
            font-size: 16px;
            @include mediaquery-mobile {
                font-size: 12px;
            }
        }
        &:before {
            content: "";
            position: absolute;
            display: block;
            top: 5px;
            left: 0;
            width: 22px;
            height: 22px;
            border: 7px solid #1dbbf2;
            border-radius: 11px;
            @include mediaquery-mobile {
                top: 2px;
                width: 18px;
                height: 18px;
                border-width: 6px;
            }
        }
        & + li {
            margin-top: 1em;
        }
    }
}

.section-column__txt {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
    @include mediaquery-mobile {
        font-size: 15px;
    }
    .section--basic & {
        margin-top: 5px;
        font-size: 16px;
        @include mediaquery-mobile {
            font-size: 14px;
        }
    }
}

.section__listNotes {
    li {
        position: relative;
        padding-left: 2em;
        &:before {
            content: "※";
            position: absolute;
            top: 0;
            left: 0;
        }
        & + li {
            margin-top: 1em;
        }
    }
}

.section-caption {
    .section--special & {
        @include mediaquery-pc {
            text-align: right;
        }
    }
}

.section__txtNotes {
    @extend .mod-font-cRed;
    font-size: 16px !important;
    font-weight: 600;
    vertical-align: top;
    sup {
        font-size: 50% !important;
        vertical-align: super;
    }
}

.section-hr-dash {
    border-top: 1px dashed #000;
}


// 資料請求・申込み
.section-appl {
    padding: 40px 0 ;
    text-align: center;
    background: $color_main;
}
.section-appl__btn {
    position: relative;
    display: inline-block;
    width: 440px;
    height: 112px;
    text-align: center;
    text-decoration: none;
    background: $color_accent;
    border-radius: 10px;
    @include box-shadow(2px 2px 3px 0px rgba(#000, .5));
    @include mediaquery-mobile {
        display: block;
        max-width: 320px;
        width: auto;
        margin: 0 auto;
        & + & {
            margin-top: 26px;
        }
    }
    &:after {
        content: "";
        position: absolute;
        right: 2px;
        bottom: 2px;
        width: 0;
        height: 0;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent transparent $color_main;
        @include transform(rotate(45deg));
    }
    p {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        @include transform(translate(-50%,-50%));
    }
    & + & {
        @include mediaquery-pc {
            margin-left: 30px;
        }
    }
    .btn__txt {
        width: 240px;
    }
}

//kv
.kv {
    width: 100%;
    height: 540px;
    background-image: url(../img/top/bg_kv.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    @include mediaquery-smartphone{
        width: 100%;
        height: auto;
        background-image: url(../img/top/bg_kv_sp.jpg);
    }
    img {
        display: block;
        width: auto;
        height: 100%;
        margin:  0 auto;
        @include mediaquery-smartphone {
            width: 100%;
            height: auto;
        }
    }
}

// お申し込みバナー
.contactBnr-box {
    position: fixed;
    z-index: 999;
    @include mediaquery-spNot {
        top: 50%;
        right: 0;
        @include transform(translateY(-50%));
    }
    @include mediaquery-smartphone {
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .contactBnr {
        width: 72px;
        @include mediaquery-smartphone {
            position: relative;
            width: 100%;
            height: 60px;
            background: #0062b2;
            img {
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                max-width: 360px;
                @include transform(translate(-50%,-50%));
            }
        }
    }
}


// section-01
.section-01 {
    .mod-column-4clm--422 {
        max-width: 920px;
        margin: 0 auto;
        counter-reset: num;
        .mod-column-item {
            position: relative;
            padding: 46px 0 36px;
            background: $color_main;
            border-radius: 5px;
            counter-increment: num;
            @include mediaquery-mobile {
                padding: 40px 0 26px;
            }
            p{
                color: #fff;
                font-size: 28px;
                font-weight: 500;
                line-height: 1.4;
                text-align: center;
                @include mediaquery-mobile {
                    font-size: 22px;
                }
            }
            &:before {
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                width: 60px;
                height: 60px;
                background: url(../img/top/section_01_img_01.png) top center no-repeat;
                background-size: cover;
                @include mediaquery-mobile {
                    width: 46px;
                    height: 46px;
                }
            }
            &:after {
                content: counter(num, decimal-leading-zero);
                position: absolute;
                top: 14px;
                left: 10px;
                color: $color_main;
                font-family: 'Roboto', sans-serif;
                font-size: 24px;
                @include mediaquery-mobile {
                    top: 10px;
                    left: 6px;
                    font-size: 20px;
                }
            }
        }
    } 
}

// section-02
.section-02 {
    @include background-image(linear-gradient(#a3e7ff, #c0f4d5));
}
.section-02-column--3clm {
    width: 920px;
    margin: 0 auto 30px;
    padding: 23px 20px;
    text-align: center;
    background: #fff;
    border: 4px solid $color_main;
    border-radius: 15px;
    @include mediaquery-mobile {
        width: 100%;
        padding: 15px;
    }
}

.section-02-column-item {
    @include mediaquery-pc {
        display: inline-block;
    }
    p {
        font-weight: 600;
        font-size: 26px;
        @include mediaquery-mobile {
            font-size: 20px;
        }
        span {
            display: inline-block;
            padding: 5px 10px;
            color: #fff;
            font-size: 20px;
            background: $color_main;
            border-radius: 10px;
            @include mediaquery-mobile {
                display: block;
                margin-bottom: 10px;
                font-size: 18px;
            }
        }
    }
    & + & {
        @include mediaquery-pc {
            margin-left: 30px;
        }
        @include mediaquery-mobile {
            margin-top: 20px;
        }
    }
}

.section-02__img {
    width: 72px;
    margin: 8px auto;
}

// section-03
.feature-column--2clm {
    @include display-flex;
    @include mediaquery-mobile {
        display: block;
    }
    &.reverse {
        @include flex-direction(row-reverse);
    }
    .feature-column__img {
        width: 540px;
        @include mediaquery-mobile {
            width: 100%;
        }
    }
    .feature-column__txt {
        width: 484px;
        padding: 75px 50px 0;
        background: #d2e6ff;
        @include mediaquery-mobile {
            width: 100%;
            padding: 24px;
        }
        &Title {
            color: $color_main;
            font-size: 28px;
            font-weight: 600;
            line-height: 1.3;
            & + p {
                margin-top: 20px;
            }
            @include mediaquery-mobile {
                font-size: 22px;
            }
        }
    }
    & + & {
        margin-top: 20px;
        @include mediaquery-mobile {
            font-size: 15px;
        }
    }
}

.results-column--2clm {
    @include display-flex;
    @include justify-content(center);
    @include mediaquery-mobile {
        display: block;
    }
    .results-column-item {
        background: #fffc9f;
        border-radius: 7px;
        &--r {
            position: relative;
            &:after {
                content: "";
                position: absolute;            
                background: url(../img/top/results_img_05.png) top center no-repeat;
                background-size: cover;   
            }
            @include mediaquery-pc {
                width: 320px;
                padding: 34px 30px 30px;
                &:after {
                    top: 50%;
                    right: -60px;
                    width: 52px;
                    height: 42px;
                    @include transform(translateY(-50%));
                }
            }
            @include mediaquery-mobile {
                width: 100%;
                padding: 20px;
                &:after {
                    content: "";
                    position: absolute;
                    bottom: -38px;
                    left: 50%;
                    width: 35px;
                    height: 28px;
                    margin-left: -17px;
                    @include transform(rotate(90deg));
                }
            }
        }
        &--l {
            width: 520px;
            @include mediaquery-pc {
                margin-left: 70px;
                padding: 30px 32px 30px;
            }
            @include mediaquery-mobile {
                width: 100%;
                margin-top: 48px;
                padding: 20px 10px;
            }
        }
    }
    .item__text {
        &--01 {
            max-width: 208px;
            margin: 0 auto;
        }
        &--02 {
            display: inline-block;
            max-width: 286px;
            @include mediaquery-mobile {
                display: block;
                margin: 0 auto;
            }
        }
        &--03 {
            display: inline-block;
            max-width: 162px;
            @include mediaquery-mobile {
                display: block;
                margin: 0 auto;
            }
        }
        &--04 {
            max-width: 294px;
            margin: 10px auto 0;
        }
    }
}


// section-04
.section-04 {
    margin: 0 auto;
    background-image: url(../img/top/bg_section_04.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    @include mediaquery-smartphone {
        background-image: url(../img/top/bg_section_04_sp.jpg);
    }
    &__hl {
        text-align: center;
        span {
            display: inline-block;
            @include mediaquery-mobile {
                display: block;
                margin: 0 auto;
            }
        }
        &Txt--01 {
            width: 286px;
        }
        &Txt--02 {
            width: 250px;
        }
        & + p {
            margin-top: 20px;
            font-size: 22px;
            font-weight: 600;
            line-height: 1.5;
            @include mediaquery-mobile {
                font-size: 18px;
            }
        }
    }
    p {
        @include mediaquery-pc {
            text-align: center;
        }
        @include mediaquery-tablet {
            padding: 0 20px;
        }
        @include mediaquery-smartphone {
            padding: 0 10px;
        }
    }
}

// section-06
.section-06 {
    @include mediaquery-smartphone {
        padding-bottom: 75px;
    }
    .section__container {
        max-width: 940px;
    }
    p {
        @include mediaquery-pc {
            font-size: 18px;
            text-align: center;
        }
        @include mediaquery-mobile {
            font-size: 14px;
        }
    }
}

@media all and (-ms-high-contrast: none) {
    .section-column__title,
    .section-column__price,
    .section-column__list li b,
    .section__txtNotes,
    .section-01 .mod-column-4clm--422 .mod-column-item p,
    .section-02-column-item p,
    .feature-column--2clm .feature-column__txtTitle,
    .section-04__hl + p {
        font-weight: bold;
    } /* IE11 */
    .section__hl {
        padding: 30px 0 12px;
        line-height: 1;
    } /* IE11 */
}