@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  header
*----------------------------*/

.header {
  position: relative;
  z-index: 9999;
  max-width: 1124px;
  margin: 0 auto;
  &__logo {
    position: absolute;
    top: 23px;
    right: 65px;
    width: 180px;
    @include mediaquery-tablet {
      top: 10px;
      right: 10px;
    }
    @include mediaquery-smartphone {
      top: 10px;
      right: 10px;
      width: 126px;
    }
  }
}

//モバイルメニュー
.header__btnMobileMenu {
  width: 54px;
  float: right;
}

//header固定
#is-headerFixed {
  width: 100%;
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9990;
  @include transition(all .5s);
  &.scrolled {
    background: rgba(255,255,255,.96);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9990;
    @include box-shadow(0 3px 2px rgba(0,0,0,.2));
    //スクロール時_変更箇所
    @include mediaquery-pc {
      //スクロールした時に変更したいスタイルを記入する
    }
  }
}


/*
*  globalnavi
*----------------------------*/

//globalnavi_レイアウト
.gNav {
  @include mediaquery-pc {
    width: 1024px;
    margin: 0 auto;
  }
  @include mediaquery-tablet {
    width: $mobileMenu_width_tablet; //スマホメニュー幅
  }
  @include mediaquery-smartphone {
    width: $mobileMenu_width_sp; //スマホメニュー幅
  }
}

//globalnavi_PCデザイン
.gNav {
  @include mediaquery-pc {
    .gNav__item {
      width: 120px;
      & > a {
        color: #000;
        font-size: 15px;
        text-decoration: none;
        border-right: 1px solid #999;
        padding: 16px 10px;
        text-align: center;
      }
      &:first-child > a {
        border-left: 1px solid #999;
      }
    }
  }
}

//globalnavi_アコーディオン_PC デザイン
.gNav-accordion {
  .accordionMenu--pc {
    @include mediaquery-pc {
      width: 400px;
      background-color: $color_main;
      top: 67px;
      left: 50%;
      margin-left: -200px !important;
      padding: 20px;
      &::before {
        content: "▲";
        font-size: 25px;
        color: $color_main;
        text-align: center;
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;
      }
      a {
        color: #fff;
        text-decoration: none;
        display: block;
        float: left;
        width: 160px;
        margin: 5px 10px;
        padding-left: 20px;
        position: relative;
        font-size: 14px;
        &:hover {
          text-decoration: underline;
        }
        &::before {
          position: absolute;
          content: "▶";
          font-size: 10px;
          top: 50%;
          left: 0;
          margin-top: -6px;
        }
      }
    }
  }
}

//globalnavi_MOBILE デザイン
.gNav-accordion {
  @include mediaquery-mobile {
    //１階層目
    .gNav__item > a {
      color: #333;
      font-size: 15px;
      font-weight: bold;
      text-decoration: none;
    }
    //２階層目
    .accordionMenu--mobile {
      & > li > a {
        color: #333;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}

//SP グローバルナビのオーバーレイ部分
.drawer-open {
  @include mediaquery-mobile {
    .is-menuOpen-overlay::before {
      content: '';
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 80;
      left: 0;
      top: 0;
    }
  }
}

//SP メニューボタン
.drawer--right.drawer-open .drawer-hamburger{
  z-index: 100;
  @include mediaquery-tablet {
    right: 250px;
  }
  @include mediaquery-smartphone {
    right: 190px;
  }
}

//モバイルメニューを開いた時_メニューボタンを消す
.drawer-open {
  .drawer-toggle.drawer-hamburger {
    display: none;
  }
}


/*
*  footer
*----------------------------*/

.footer {
  position: relative;
  background: #333;
}

.copyright {
  padding: 1em 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
  @include mediaquery-mobile {
    font-size: 12px;
  }
}

//ページトップへ戻るボタン
.pageTop-box {
  position: relative;
  .pageTop {
    position: fixed;
    cursor: pointer;
    width: 50px;
    right: 10px;
    bottom: 70px;
    z-index: 999;
  }
}
