@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";

/*****************************
**
**  下層ページ共通スタイル
**
******************************/

/*
*  下層ページ全体
*----------------------------*/

.sub-container {
}

/*
*  パンくずリスト
*----------------------------*/

.sub-breadcrumbs {
}

/*
*  H1およびカテゴリー見出し
*----------------------------*/

.sub-h1 {
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 18px 10px 16px 10px;
  margin-bottom: 35px;
  background-color: #000;
}

/*
*  サイド
*----------------------------*/

//メニュー
.sub-sideMenu {
  h6 {
  }
  ul {
  }
}

//カレンダー
.sub-calendar {
  table {
    width: 100%;
    table-layout: fixed;
  }
  center {
    display: block;
    margin-bottom: 12px;
    div {
      display: inline-block;
    }
    .center {
      margin: 0 5px;
    }
  }
  tr:first-child td {
    padding: 0;
  }
  th {
    background-color: #f2f2f2;
    padding: 8px 0;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
  }
  td {
    padding: 6px 0;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
  }
  .sunday {
    color: #ed1c24;
  }
  .saturday {
    color: #005dcc;
  }
}
