@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  layout
*----------------------------*/

//1column container
.l-container {
  @include mediaquery-pc {
    width: $width_base;
    margin: 0px auto;
  }
  @include mediaquery-tablet {
    width: 460px;
    margin: 0 auto;
    padding: 0px 10px;
  }
  @include mediaquery-smartphone {
    width: 100%;
    padding: 0px 10px;
  }
}


//2column main
.l-main {
  @include mediaquery-pc {
    width: $width_main;
    float: right;
  }
  @include mediaquery-tablet {
    width: 100%;
    margin-bottom: 80px;
  }
  @include mediaquery-smartphone {
    width: 100%;
    margin-bottom: 80px;
  }
}


//2column sub
.l-sub {
  @include mediaquery-pc {
    width: $width_sub;
    float: left;
  }
  @include mediaquery-tablet {
    width: 100%;
  }
  @include mediaquery-smartphone {
    width: 100%;
  }
}


//左右にpaddingが入るBOX用
.l-innerBox {
  @include mediaquery-pc {
    padding: 0px 10px;
  }
  @include mediaquery-tablet {
    padding: 0px 5px;
  }
  @include mediaquery-smartphone {
    padding: 0px 5px;
  }
}
