@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  Heading
*----------------------------*/

.mod-hl-01 {
  position: relative;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 20px;
  @include mediaquery-mobile {
    font-size: 25px;
  }
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 75px;
    height: 4px;
    background: $color_main;
    @include transform(translateX(-50%));
  }
}

.mod-hl-02 {
  margin-bottom: 15px;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  @include mediaquery-mobile {
    font-size: 20px;
  }
  span {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -8px;
      width: 100%;
      height: 2px;
      background: #4a81e5;
    }
  }
}
@media all and (-ms-high-contrast: none) {
  .mod-hl-01,
  .mod-hl-02 {
    font-weight: bold;
  }
  .mod-hl-02 {
      span:after {
      bottom: 4px;
    }
  }
}

.mod-hl-03 {

}

.mod-hl-04 {

}

.mod-hl-05 {

}

.mod-hl-06 {

}
