@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  background_color
*----------------------------*/

.mod-bg-cMain {
  background-color: $color_main;
}

.mod-bg-cSub {
  background-color: $color_sub;
}

.mod-bg-cAccent {
  background-color: $color_accent;
}

.mod-clmBg-cBlue01 {
  background-color: #c7f4ff;
}

.mod-clmBg-cBlue02 {
  background-color: #cce3ff;
}

.mod-clmBg-cGreen {
  background-color: #dbefcb;
}

.mod-clmBg-cPink {
  background-color: #ffe1ef;
}

.mod-clmBg-cPurple {
  background-color: #ead2f9;
}

.mod-clmBg-cOrange {
  background-color: #fce3cd;
}

/*
*  background_pattern
*----------------------------*/
