@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  2column
*----------------------------*/

//all
.mod-column-2clm--222 {
  .mod-column-item {
    float: left;
    width: 49%;
    margin: 0 0 20px 2%;
    &:nth-child(2n-1) {
      margin-left: 0;
      clear: both;
    }
  }
}

// PC|2clm tablet｜2clm SP|1clm
.mod-column-2clm--221 {
  .mod-column-item {
    @include mediaquery-pc {
      float: left;
      width: 49%;
      margin: 0 0 20px 2%;
      &:nth-child(2n-1) {
        margin-left: 0;
        clear: both;
      }
    }
    @include mediaquery-tablet {
      float: left;
      width: 49%;
      margin: 0 0 20px 2%;
      &:nth-child(2n-1) {
        margin-left: 0;
        clear: both;
      }
    }
    @include mediaquery-smartphone {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

// PC|2clm tablet｜1clm SP|1clm
.mod-column-2clm--211 {
  .mod-column-item {
    @include mediaquery-pc {
      float: left;
      width: 49%;
      margin: 0 0 20px 2%;
      &:nth-child(2n-1) {
        margin-left: 0;
        clear: both;
      }
    }
    @include mediaquery-tablet {
      width: 100%;
      margin-bottom: 20px;
    }
    @include mediaquery-smartphone {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}


/*
*  3column
*----------------------------*/

//all
.mod-column-3clm--333 {
  .mod-column-item {
    float: left;
    width: 32%;
    margin: 0 0 20px 2%;
    &:nth-child(3n+1) {
      margin-left: 0;
      clear: both;
    }
  }
}

// PC|3clm tablet｜3clm SP|2clm
.mod-column-3clm--332 {
  .mod-column-item {
    @include mediaquery-pc {
      float: left;
      width: 32%;
      margin: 0 0 20px 2%;
      &:nth-child(3n+1) {
        margin-left: 0;
        clear: both;
      }
    }
    @include mediaquery-tablet {
      float: left;
      width: 32%;
      margin: 0 0 20px 2%;
      &:nth-child(3n+1) {
        margin-left: 0;
        clear: both;
      }
    }
    @include mediaquery-smartphone {
      float: left;
      width: 49%;
      margin: 0 0 20px 2%;
      &:nth-child(2n-1) {
        margin-left: 0;
        clear: both;
      }
    }
  }
}

// PC|3clm tablet｜2clm SP|2clm
.mod-column-3clm--322 {
  .mod-column-item {
    @include mediaquery-pc {
      float: left;
      width: 32%;
      margin: 0 0 20px 2%;
      &:nth-child(3n+1) {
        margin-left: 0;
        clear: both;
      }
    }
    @include mediaquery-tablet {
      float: left;
      width: 49%;
      margin: 0 0 20px 2%;
      &:nth-child(2n-1) {
        margin-left: 0;
        clear: both;
      }
    }
    @include mediaquery-smartphone {
      float: left;
      width: 49%;
      margin: 0 0 20px 2%;
      &:nth-child(2n-1) {
        margin-left: 0;
        clear: both;
      }
    }
  }
}

// PC|3clm tablet｜2clm SP|1clm
.mod-column-3clm--321 {
  .mod-column-item {
    @include mediaquery-pc {
      float: left;
      width: 32%;
      margin: 0 0 20px 2%;
      &:nth-child(3n+1) {
        margin-left: 0;
        clear: both;
      }
    }
    @include mediaquery-tablet {
      float: left;
      width: 49%;
      margin: 0 0 20px 2%;
      &:nth-child(2n-1) {
        margin-left: 0;
        clear: both;
      }
    }
    @include mediaquery-smartphone {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

// PC|3clm tablet｜1clm SP|1clm
.mod-column-3clm--311 {
  .mod-column-item {
    @include mediaquery-pc {
      float: left;
      width: 32%;
      margin: 0 0 20px 2%;
      &:nth-child(3n+1) {
        margin-left: 0;
        clear: both;
      }
    }
    @include mediaquery-tablet {
      width: 100%;
      margin-bottom: 20px;
    }
    @include mediaquery-smartphone {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}


/*
*  4column
*----------------------------*/

//all
.mod-column-4clm--444 {
  .mod-column-item {
    float: left;
    width: 23.5%;
    margin: 0 0 20px 2%;
    &:nth-child(4n+1) {
      margin-left: 0;
      clear: both;
    }
  }
}

// PC|4clm tablet｜4clm SP|2clm
.mod-column-4clm--442 {
  .mod-column-item {
    @include mediaquery-spNot {
      float: left;
      width: 23.5%;
      margin: 0 0 20px 2%;
      &:nth-child(4n+1) {
        margin-left: 0;
        clear: both;
      }
    }
    @include mediaquery-smartphone {
      float: left;
      width: 49%;
      margin: 0 0 20px 2%;
      &:nth-child(2n-1) {
        margin-left: 0;
        clear: both;
      }
    }
  }
}

// PC|4clm tablet｜3clm SP|2clm
.mod-column-4clm--432 {
  .mod-column-item {
    @include mediaquery-pc {
      float: left;
      width: 23.5%;
      margin: 0 0 20px 2%;
      &:nth-child(4n+1) {
        margin-left: 0;
        clear: both;
      }
    }
    @include mediaquery-tablet {
      float: left;
      width: 32%;
      margin: 0 0 20px 2%;
      &:nth-child(3n+1) {
        margin-left: 0;
        clear: both;
      }
    }
    @include mediaquery-smartphone {
      float: left;
      width: 49%;
      margin: 0 0 20px 2%;
      &:nth-child(2n-1) {
        margin-left: 0;
        clear: both;
      }
    }
  }
}

// PC|4clm tablet｜2clm SP|2clm
.mod-column-4clm--422 {
  .mod-column-item {
    @include mediaquery-pc {
      float: left;
      @include calc('width', '(100% - 66px) / 4');
      margin: 0 0 20px 22px;
      &:nth-child(4n+1) {
        margin-left: 0;
        clear: both;
      }
    }
    @include mediaquery-tablet {
      float: left;
      @include calc('width', '(100% - 8px) / 2');
      margin: 0 0 10px 8px;
      &:nth-child(2n-1) {
        margin-left: 0;
        clear: both;
      }
    }
    @include mediaquery-smartphone {
      float: left;
      @include calc('width', '(100% - 8px) / 2');
      margin: 0 0 10px 8px;
      &:nth-child(2n-1) {
        margin-left: 0;
        clear: both;
      }
    }
  }
}

// PC|4clm tablet｜2clm SP|1clm
.mod-column-4clm--421 {
  .mod-column-item {
    @include mediaquery-pc {
      float: left;
      width: 23.5%;
      margin: 0 0 20px 2%;
      &:nth-child(4n+1) {
        margin-left: 0;
        clear: both;
      }
    }
    @include mediaquery-tablet {
      float: left;
      width: 49%;
      margin: 0 0 20px 2%;
      &:nth-child(2n-1) {
        margin-left: 0;
        clear: both;
      }
    }
    @include mediaquery-smartphone {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}


/*
*  5column
*----------------------------*/

//all
.mod-column-5clm--555 {
  .mod-column-item {
    float: left;
    width: 18.4%;
    margin: 0 0 20px 2%;
    &:nth-child(5n+1) {
      margin-left: 0;
      clear: both;
    }
  }
}

// PC|5clm tablet｜3clm SP|2clm
.mod-column-5clm--532 {
  .mod-column-item {
    @include mediaquery-pc {
      float: left;
      width: 18.4%;
      margin: 0 0 20px 2%;
      &:nth-child(5n+1) {
        margin-left: 0;
        clear: both;
      }
    }
    @include mediaquery-tablet {
      float: left;
      width: 32%;
      margin: 0 0 20px 2%;
      &:nth-child(3n+1) {
        margin-left: 0;
        clear: both;
      }
    }
    @include mediaquery-smartphone {
      float: left;
      width: 49%;
      margin: 0 0 20px 2%;
      &:nth-child(2n-1) {
        margin-left: 0;
        clear: both;
      }
    }
  }
}

// PC|5clm tablet｜3clm SP|1clm
.mod-column-5clm--531 {
  .mod-column-item {
    @include mediaquery-pc {
      float: left;
      width: 18.4%;
      margin: 0 0 20px 2%;
      &:nth-child(5n+1) {
        margin-left: 0;
        clear: both;
      }
    }
    @include mediaquery-tablet {
      float: left;
      width: 32%;
      margin: 0 0 20px 2%;
      &:nth-child(3n+1) {
        margin-left: 0;
        clear: both;
      }
    }
    @include mediaquery-smartphone {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}


/*
*  6column
*----------------------------*/

//all
.mod-column-6clm--666 {
  .mod-column-item {
    float: left;
    width: 15%;
    margin: 0 0 20px 2%;
    &:nth-child(6n+1) {
      margin-left: 0;
      clear: both;
    }
  }
}

// PC|6clm tablet｜4clm SP|2clm
.mod-column-6clm--642 {
  .mod-column-item {
    @include mediaquery-pc {
      float: left;
      width: 15%;
      margin: 0 0 20px 2%;
      &:nth-child(6n+1) {
        margin-left: 0;
        clear: both;
      }
    }
    @include mediaquery-tablet {
      float: left;
      width: 23.5%;
      margin: 0 0 20px 2%;
      &:nth-child(4n+1) {
        margin-left: 0;
        clear: both;
      }
    }
    @include mediaquery-smartphone {
      float: left;
      width: 49%;
      margin: 0 0 20px 2%;
      &:nth-child(2n-1) {
        margin-left: 0;
        clear: both;
      }
    }
  }
}

// PC|6clm tablet｜3clm SP|1clm
.mod-column-6clm--632 {
  .mod-column-item {
    @include mediaquery-pc {
      float: left;
      width: 15%;
      margin: 0 0 20px 2%;
      &:nth-child(6n+1) {
        margin-left: 0;
        clear: both;
      }
    }
    @include mediaquery-tablet {
      float: left;
      width: 32%;
      margin: 0 0 20px 2%;
      &:nth-child(3n+1) {
        margin-left: 0;
        clear: both;
      }
    }
    @include mediaquery-smartphone {
      float: left;
      width: 49%;
      margin: 0 0 20px 2%;
      &:nth-child(2n-1) {
        margin-left: 0;
        clear: both;
      }
    }
  }
}


/*
*  8column
*----------------------------*/

//all
.mod-column-8clm--888 {
  .mod-column-item {
    float: left;
    width: 10.75%;
    margin: 0 0 20px 2%;
    &:nth-child(8n+1) {
      margin-left: 0;
      clear: both;
    }
  }
}

// PC|8clm tablet｜4clm SP|2clm
.mod-column-8clm--842 {
  .mod-column-item {
    @include mediaquery-pc {
      float: left;
      width: 10.75%;
      margin: 0 0 20px 2%;
      &:nth-child(8n+1) {
        margin-left: 0;
        clear: both;
      }
    }
    @include mediaquery-tablet {
      float: left;
      width: 23.5%;
      margin: 0 0 20px 2%;
      &:nth-child(4n+1) {
        margin-left: 0;
        clear: both;
      }
    }
    @include mediaquery-smartphone {
      float: left;
      width: 49%;
      margin: 0 0 20px 2%;
      &:nth-child(2n-1) {
        margin-left: 0;
        clear: both;
      }
    }
  }
}


/*
*  other
*----------------------------*/

@mixin column-articleBox-subRight($imgWidth) {
  .mod-column-main {
    width: 100%;
    @include mediaquery-pc {
      float: left;
      margin-right: $imgWidth - ($imgWidth * 2);
      &__inner {
        margin-right: $imgWidth + 40px;
      }
    }
  }
  .mod-column-sub {
    @include mediaquery-pc {
      width: $imgWidth;
      float: right;
    }
    @include mediaquery-mobile {
      max-width: $imgWidth;
      margin: 30px auto;
    }
  }
}

@mixin column-articleBox-subLeft($imgWidth) {
  .mod-column-main {
    width: 100%;
    @include mediaquery-pc {
      float: right;
      margin-left: $imgWidth - ($imgWidth * 2);
      &__inner {
        margin-left: $imgWidth + 40px;
      }
    }
  }
  .mod-column-sub {
    @include mediaquery-pc {
      width: $imgWidth;
      float: left;
    }
    @include mediaquery-mobile {
      max-width: $imgWidth;
      margin: 30px auto;
    }
  }
}

.column-articleBox-subRight--01 {
  @include column-articleBox-subRight(270px);
}

.column-articleBox-subLeft--01 {
  @include column-articleBox-subLeft(270px);
}

.column-articleBox-subRight--02 {
  @include column-articleBox-subRight(450px);
}

.column-articleBox-subLeft--02 {
  @include column-articleBox-subLeft(450px);
}
