@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  font_color
*----------------------------*/

.mod-font-cMain {
  color: $color_main;
}
.mod-font-cSub {
  color: $color_sub;
}
.mod-font-cAccent {
  color: $color_accent;
}

.mod-font-cWhite {
  color: #fff;
}
.mod-font-cBlack {
  color: #000;
}
.mod-font-cGray {
  color: #666;
}
.mod-font-cLightGray {
  color: #999;
}
.mod-font-cRed {
  color: #ff0000;
}
.mod-font-cBlue01 {
  color: $color_blue01;
}
.mod-font-cBlue02 {
  color: $color_blue02;
}
.mod-font-cGreen {
  color: $color_green;
}
.mod-font-cPink {
  color: $color_pink;
}
.mod-font-cPurple {
  color: $color_purple;
}
.mod-font-cOrange {
  color: $color_orange;
}


/*
*  font_family
*----------------------------*/

.mod-font-famSub {
  font-family: $font_family_sub;
}


/*
*  font_weight
*----------------------------*/

.mod-font-wBold {
  font-weight: 500;
}
