@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  list_maker_style
*----------------------------*/

//マーカーなし
.mod-li-mNone {
  & > li {
    list-style-type: none;
  }
}

//黒丸
.mod-li-disc {
  margin-left: 20px;
  & > li {
    list-style-type: disc;
  }
}

//白丸
.mod-li-circle {
  margin-left: 20px;
  & > li {
    list-style-type: circle;
  }
}

//黒四角
.mod-li-square {
  margin-left: 20px;
  & > li{
    list-style-type: square;
  }
}

//小文字のローマ数字
.mod-li-lowerRoman {
  margin-left: 20px;
  & > li {
    list-style-type: lower-roman;
  }
}

//大文字のローマ数字
.mod-li-upperRoman {
  margin-left: 20px;
  & > li {
    list-style-type: upper-roman;
  }
}

//算用数字
.mod-li-decimal {
  margin-left: 20px;
  & > li {
    list-style-type: decimal;
  }
}

//先頭に0をつけた算用数字リスト
.mod-li-decimalZero {
  margin-left: 30px;
  & > li {
    list-style-type: decimal-leading-zero;
  }
}

//小文字のアルファベット
.mod-li-lowerAlpha {
  margin-left: 20px;
  & > li {
    list-style-type: lower-alpha;
  }
}

//大文字のアルファベット
.mod-li-upperAlpha {
  margin-left: 20px;
  & > li {
    list-style-type: upper-alpha;
  }
}

//漢数字
.mod-li-cjk {
  margin-left: 26px;
  & > li {
    list-style-type: cjk-ideographic;
  }
}

//ひらがなのあいうえお順
.mod-li-hiragana {
  margin-left: 26px;
  & > li {
    list-style-type: hiragana;
  }
}

//カタカナのアイウエオ順
.mod-li-katakana {
  margin-left: 26px;
  & > li {
    list-style-type: katakana;
  }
}

//ひらがなのいろはにほへと順
.mod-li-hiraganaIroha {
  margin-left: 26px;
  & > li {
    list-style-type: hiragana-iroha;
  }
}

//カタカナのイロハニホヘト順
.mod-li-katakanaIroha {
  margin-left: 26px;
  & > li {
    list-style-type: katakana-iroha;
  }
}


/*
*  リスト 余白
*----------------------------*/

.mod-li-mb5 {
  & > li {
    margin-bottom: 5px;
  }
}

.mod-li-mb10 {
  & > li {
    margin-bottom: 10px;
  }
}

.mod-li-mb15 {
  & > li {
    margin-bottom: 15px;
  }
}

.mod-li-mb20 {
  & > li {
    margin-bottom: 20px;
  }
}
