@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  button
*----------------------------*/

//Widthを10pxずつ100から500まで引き上げたい。
$baseWidth: 10;
@for $i from 10 through 30 {
  $data: $baseWidth * $i;
  .mod-btn-w#{$data}{
    width: #{$data}px !important;
  }
}
//max-widthを10pxずつ310から500まで引き上げたい。
@for $i from 31 through 50 {
  $data: $baseWidth * $i;
  .mod-btn-w#{$data}{
    max-width: #{$data}px !important;
  }
}

/*
.mod-btn-w100 {
    width: 100px !important;
}
.mod-btn-w110 {
    width: 110px !important;
}
.mod-btn-w500 {
    max-width: 500px !important;
}
*/


//button01 背景：メインカラー、線：メインカラー
.mod-btn-01 {
  width: 100%;
  display: inline-block;
  border: 2px solid $color_main;
  background-color: $color_main;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 16px 12px;
  position: relative;
  @include border-radius(5px);
  @include mediaquery-pc {
    @include transition(all .1s ease-in-out);
    &:hover {
      background-color: #fff;
      color: $color_main;
      @include transition(all .2s ease-in-out);
    }
  }
}


//button02 背景：白、線：メインカラー
.mod-btn-02 {
  width: 100%;
  display: inline-block;
  border: 2px solid $color_main;
  background-color: #fff;
  color: $color_main;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 16px 12px;
  position: relative;
  @include border-radius(5px);
  @include mediaquery-pc {
    @include transition(all .1s ease-in-out);
    &:hover {
      background-color: $color_main;
      color: #fff;
      @include transition(all .2s ease-in-out);
    }
  }
}


//button02 背景：グレー
.mod-btn-03 {
  width: 100%;
  display: inline-block;
  border: 2px solid #999;
  background-color: #999;
  color: #F2F2F2;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 16px 12px;
  position: relative;
  @include border-radius(5px);
  @include mediaquery-pc {
    @include transition(all .1s ease-in-out);
    &:hover {
      background-color: #fff;
      color: #999;
      @include transition(all .2s ease-in-out);
    }
  }
}


//button next, prev 矢印あり
.mod-btn-next {
  padding-right: 22px !important;
  &::after {
    display: inline-block;
    position: absolute;
    content: "▶";
    font-size: 12px;
    top: 50%;
    right: 6px;
    @include transform(translate(0,-50%));
  }
}

.mod-btn-prev {
  padding-left: 22px !important;
  &::before {
    display: inline-block;
    position: absolute;
    content: "◀";
    font-size: 12px;
    top: 50%;
    left: 6px;
    @include transform(translate(0,-50%));
  }
}


//button アイコンあり
.mod-btn-icon {
  span {
    vertical-align: middle;
    display: inline-block;
  }
  .icon-left {
    margin-left: 12px;
    font-size: 12px;
  }
  .icon-right {
    margin-right: 12px;
    font-size: 12px;
  }
}
