@charset "UTF-8";
/*
    Created on : 2014/04/10, 13:31:11
    Author     : goichi
*/

/*変数定義*/
//ブレイクポイント　下記＋20px（スクロールバー）
$width-tablet: 800px;
$width-smartphone: 560px;
$width-scrollbar: 0px;
// Media Queries
@mixin mediaquery-pc {
  // PC表示: 768+20=788px～
  @media print, screen and (min-width: $width-tablet + $width-scrollbar) {
    @content;
  }
}

@mixin mediaquery-tablet {
  // タブレット表示: 480+20=500px ～ 768+20-1=787px
  @media only screen and (min-width: $width-smartphone + $width-scrollbar) and (max-width: $width-tablet + $width-scrollbar - 1) {
    @content;
  }
}

@mixin mediaquery-smartphone {
  // スマートフォン表示: 480+20-1=499px～
  @media only screen and (max-width: $width-smartphone + $width-scrollbar - 1) {
    @content;
  }
}

//20180713 ブレイクポイントmobile追加
@mixin mediaquery-mobile {
  // モバイル表示: 800+20-1=819px～
  @media only screen and (max-width: $width-tablet + $width-scrollbar - 1) {
    @content;
  }
}

//20180719 ブレイクポイントspNot追加
@mixin mediaquery-spNot {
  // スマートフォン非表示: 480+20=500px～
  @media only screen and (min-width: $width-smartphone + $width-scrollbar) {
    @content;
  }
}
